/*------------------
    Window Count
------------------*/

#windowcount {
	margin-right: 12px;
}

#windowcount label {
	color: @hover-fg;
}

/*-----------------
    Temperature
-----------------*/

#custom-left_div.2 {
	color: @temperature;
}

#temperature {
	background-color: @temperature;
	color: @lavender;
}

/*------------
    Memory
------------*/

#custom-left_div.3 {
	background-color: @temperature;
	color: @memory;
}

#memory {
	background-color: @memory;
	color: @sapphire;
}

/*---------
    CPU
---------*/

#custom-left_div.4 {
	background-color: @memory;
	color: @cpu;
}

#cpu {
	background-color: @cpu;
	color: @sky;
}

#custom-left_inv.1 {
	color: @cpu;
}

/*-----------------
    Distro Module
-----------------*/

#custom-left_div.5,
#custom-right_div.2 {
	color: @accent;
}

#custom-distro {
	background-color: @accent;
	color: @main-bg;
}

/*----------
    Time
----------*/

#custom-right_inv.1 {
	color: @time;
}

#clock.time {
	padding-right: 6px;
	background-color: @time;
	color: @sky;
}

#custom-right_div.3 {
	background-color: @date;
	color: @time;
}

/*----------
    Date
----------*/

#clock.date {
	padding-left: 6px;
	background-color: @date;
	color: @sapphire;
}

#custom-right_div.4 {
	background-color: @tray;
	color: @date;
}

/*-----------------
    System tray
-----------------*/

#network {
	background-color: @tray;
	padding: 0 8px 0 12px;
	color: @lavender;
}

#custom-system_update {
	background-color: @tray;
	padding: 0 2px 0 2px;
	color: @lavender;
}

#custom-right_div.5 {
	color: @tray;
}