/*--------------
    User
--------------*/

#custom-user {
	padding-right: 12px;
	color: @accent;
}

#custom-trigger {
	color: @teal;
}

/*----------------
    Workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
	color: @workspaces;
}

#workspaces {
	padding: 0 1px;
	background-color: @workspaces;
}

#workspaces button {
	border-radius: 16px;
	min-width: 16px;
	padding: 0 10px;
}

#workspaces button.active label {
	color: @accent;
}

/*------------------
    Window title
------------------*/

#window {
	margin-left: 12px;
}