/*------------
    Volume
------------*/

#custom-left_div.6 {
	color: @volume;
}

#custom-volume {
	background-color: @volume;
}

/*----------------
    Brightness
----------------*/

#custom-left_div.7 {
	background-color: @volume;
	color: @backlight;
}

#backlight {
	background-color: @backlight;
}

/*-------------
    Battery
-------------*/

#custom-left_div.8 {
	background-color: @backlight;
	color: @battery;
}

#custom-left_inv.2 {
	color: @battery;
}

#battery,
#battery.full {
	background-color: @battery;
}

/*----------------
    Power Menu
----------------*/

#custom-power_menu {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @teal;
}