/*-----------
    Hover
-----------*/

#custom-trigger:hover,
#clock.date:hover,
#network:hover,
#custom-system_update:hover {
    color: @hover-fg;
}


/*-------------
    warning
-------------*/
#memory.warning,
#cpu.warning,
#battery.warning {
    color: @warning;
}

/*--------------
    critical
--------------*/

#temperature.critical,
#memory.critical,
#cpu.critical,
#battery.critical {
    color: @critical;
}

/*--------------
    charging
--------------*/

#battery.charging {
    color: @charging;
}