name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  Check:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Check if README.md and .version exist
        run: |
          if [ ! -f README.md ]; then
            exit 1
          fi

          if [ ! -d ".version" ]; then
            exit 1
          fi

      - name: Syntax check for install.sh and scripts in src/.install/ (exclude SC1090, SC2086, SC2024, and SC2164)
        run: |
          if [ -f install.sh ]; then
            shellcheck -e SC1090,SC2086,SC2024,SC2164 install.sh || { echo "Syntax check failed for install.sh"; exit 1; }
          fi
          find src/.install -name "*.sh" -print0 | xargs -0 -n1 shellcheck -e SC1090,SC2086,SC2024,SC2164 || exit 1

      - name: Validate configuration files in dotfiles directory
        run: |
          find dotfiles -type f \( -name "*.conf" -o -name "*.yml" -o -name "*.json" \) | while read -r file; do
            case "$file" in
              *.json)
                jq empty "$file" || { echo "JSON validation failed for $file"; exit 1; }
                ;;
              *.yml)
                yamllint "$file" || { echo "YAML validation failed for $file"; exit 1; }
                ;;
              *.conf)
                echo "$file is assumed valid."
                ;;
              *)
                echo "Skipping $file as it's not a recognized config type."
                ;;
            esac
          done